body 
{
	background-color: rgb(223, 221, 221);
}
.verticalline
{
	position: relative;
	border-left: 6px solid black;
    height: 200px;
    top: 26%;
    left: 70%;

}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    border-radius: 4px;
}

.ContactUS {
    position: absolute;
    top: 0%;
    right: 1%;
}

.ymlSelector{
    position: relative;
    left: 15%;
}



#CopyTextToSave{
    height: 25px;
    width: 30px;
    
}

#Formelement{
    position: relative;
    top: 2%;
}

label{
    font-weight: bold;
    font-family: calibri;
}

.tooltip .tooltiptext {
    visibility: hidden;
    color: rgb(10, 10, 10);
    text-align: center;
    
    padding: 2px;
    font-size: 14px;
    font-family: Calibri Light;

    position: fixed;
    display: block;
    overflow: hidden;

    
    
    opacity: 0;
    transition: opacity 1s;

   
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
